.about-page__body {
    padding: 2rem;
    margin: 0 auto 0 auto;
    
}
.about-page__body span {
    font: inherit;
    font-family: var(--font-family-base);
}
.about-page__body p {
    font: inherit;
    font-family: var(--font-family-base) !important;
}